#goods_list_con {
    width: 1200px;
    margin: auto;
    margin-top: 20px;
}
#glc_lt {
    width: 208px;
    border: solid 1px #ddd;
    float: left;
}
#glc_lt_tit {
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #e51e13;
    border-bottom: solid 1px #ddd;
    font-size: 14px;
    color: #fff;
}
#glc_lt_gdss {
    padding-bottom: 10px;
}
.glc_lt_gds {
    padding-bottom: 5px;
    padding-top: 10px;
}
.glc_lt_gds_img {
    text-align: center;
}
a {
    color: #666;
    cursor: pointer;
    outline: 0 none;
    text-decoration: none;
}
.glc_lt_gds_img img {
    border: solid 1px #ccc;
    width: 149px;
    height: 150px;
}
.glc_lt_gds_des {
    width: 150px;
    margin: auto;
    font-size: 12px;
    word-break: break-all;
    margin-top: 7px;
    max-height: 42px;
    overflow: hidden;
}
.glc_lt_gds_des a {
    display: block;
    line-height: 20px;
}
.glc_lt_gds_pri {
    width: 150px;
    margin: auto;
    margin-top: 1px;
}
.glc_lt_gds_pri .glgp_np {
    color: #b9281e;
}
#glc_rt {
    float: left;
    margin-left: 10px;
    width: 980px;
}
#glc_rt_top {
    width: 978px;
    height: 34px;
    border: solid 1px #ddd;
    background: #f5f5f5;
}
#glc_rt_sorts {
    padding: 5px 0px;
    float: left;
    margin-left: 6px;
}
#glc_rt_sorts .grs_djt {
    background: #fff url("../images/inner.png") no-repeat 45px -81px;
}
#glc_rt_sorts .grs_djt_cur {
    background: #e51e13 url("../images/inner.png") no-repeat 45px -99px;
    color: #fff;
}
#glc_rt_sorts .grs_sjt {
    background: #fff url("../images/inner.png") no-repeat 45px -118px;
}
#glc_rt_sorts li {
    float: left;
    width: 64px;
    height: 22px;
    border: solid 1px #d9d9d9;
    font-size: 12px;
    color: #999;
    line-height: 22px;
    text-indent: 15px;
    margin-left: -1px;
    cursor: pointer;
}
#glc_rt_pcon{
	width: 980px;
	margin-top: 20px;
}
#glc_rt_con {
    width: 1000px;
    margin-left: -10px;
}
.glc_rt_gds {
    width: 208px;
    height: 345px;
    border: solid 1px #fff;
    margin: 0px 20px;
    float: left;
    margin-bottom: 28px;
    position: relative;
    background: #fff;
}
.glc_rt_gds:hover{
    border:1px solid #ccc;
    box-shadow: 0px 0px 20px lightgray;
}
.glc_rt_gds_img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    margin-top: 3px;
    background: #fafafa;
}
.glc_rt_gds_img img {
    width: 200px;
    height: 200px;
    border: 0px;
}
.glc_rt_gds_pri {
    width: 190px;
    margin: auto;
    padding: 0px 5px;
}
.grgp_np {
    float: left;
}
.grgp_npri {
    font-size: 20px;
    color: #bb3221;
}
.grgp_op {
    float: right;
    display: block;
    width: 18px;
    height: 18px;
    background: url("../images/inner.png") no-repeat 0px -15px;
    margin-top: 5px;
}
.glc_rt_gds_des {
    width: 190px;
    padding: 0px 5px;
    margin: auto;
    margin-top: 1px;
    font-size: 12px;
    overflow: hidden;
    word-break: break-all;
    height: 52px;
    color: #666;
}
.glc_rt_gds_des a {
    display: block;
    line-height: 20px;
    height: 20px;
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #666;
}
.glc_rt_gds_opt {
    width: 190px;
    padding: 0px 5px;
    margin: auto;
    margin-top: 14px;
}
.grgp_ul li {
    float: left;
}
.grgp_ul_num_li {
    background: #f0f0f0;
    padding: 1px 0px;
}
.grgp_ul_num {
    float: left;
}
.grgp_ul_inp {
    width: 38px;
    text-align: center;
    padding: 4px 0px;
    border: solid 1px #bebebf;
    outline: none;
}
.grgp_ul_a {
    width: 18px;
    text-align: center;
    padding: 2px 0px;
}
.grgp_ul_car_li {
    padding-top: 1px;
    margin-left: 10px;
}
.grgp_ul_car {
    width: 94px;
    height: 23px;
    border: solid 1px #e51e13;
    color: #e51e13;
    font-size: 12px;
    display: block;
    line-height: 23px;
}
.grgp_ul_car i {
    width: 27px;
    height: 23px;
    display: inline-block;
    float: left;
    background: url("../images/inner.png") no-repeat 4px -35px;
}
#pn_div {
    padding-right: 20px;
    padding-bottom: 20px;
}
#pageGo {
    float: right;
    font-size: 12px;
    margin-left: 20px;
}
#pageGo li {
    float: left;
}
#pageGo .pgo_li {
    padding: 9px 0;
}
#pageGo #pageGo_inp {
    border: 1px solid #ddd;
    padding: 7px 0;
    text-align: center;
    width: 36px;
    outline: none;
}
#pageGo #pageGo_a {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #ddd;
    margin-left: 10px;
    padding: 8px 13px;
    color: #666;
}
#pageNav {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    float: right;
    height: 35px;
}
#pageNav .cPageNum {
    font-size: 12px;
    color: #ff9f3f;
    padding: 8px 13px;
    margin-right: 5px;
    display: inline-block;
}
#pageNav a {
    color: #666;
    text-decoration: none;
    font-size: 12px;
    background: #f5f5f5;
    margin-right: 5px;
}
#pageNav .pageNum {
    border: 1px solid #ddd;
    padding: 8px 13px;
    display: inline-block;
}